*.obj 
*.exe 
*.pdb 
*.user 
*.aps 
*.pch 
*.vspscc 
*_i.c 
*_p.c 
*.ncb 
*.suo 
*.tlb 
*.tlh 
*.bak 
*.cache 
*.ilk 
*.log 
*.sdf
*.idb
*.pdb
*.lastbuildstate
[Bb]in 
[Dd]ebug*/ 
*.lib 
*.sbr 
*.ipch
*.opensdf
obj/ 
ipch/
[Rr]elease*/ 
_ReSharper*/
*/[Dd]ebug*/
*/*/[Dd]ebug*/
*/*.suo
*/*.exe
*/*.ilk
*/.exe.orig
